@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  font: 80% "arial", sans-serif;
  margin: 0px;
}

#main {
  height: 100vh;
  min-width: 550px;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navBar {
  color: #fff;
  background-color: #1f345d;
  width: 100vw;
  position: fixed;
  top: 0;
}

#navBar p {
  margin-left: 200px;
}
#navBar img {
  left: 90px;
}

#footerBar {
  color: #fff;
  background-color: #1f345d;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

#footerBar img,
#navBar img {
  float: left;
  position: relative;
  top: 10px;
}

#footerBar p {
  text-align: center;
}

#conteudo {
  z-index: -1;
  position: absolute;
  width: 990px;
  background: #fff;
}

#tela {
  position: relative;
  left: 0px;
  width: 642px;
  height: 603px;
}

#topo {
  position: absolute;
  left: 642px;
  top: -3px;
  width: 274px;
  height: 261px;
}

#faixaDir {
  position: absolute;
  left: 916px;
  top: 32px;
  width: 55px;
  height: 512px;
}

#ladoEsqTec {
  position: absolute;
  left: 642px;
  top: 258px;
  width: 27px;
  height: 227px;
}

#n_1 {
  position: absolute;
  left: 669px;
  top: 258px;
  width: 73px;
  height: 58px;
}

#n_2 {
  position: absolute;
  left: 742px;
  top: 258px;
  width: 68px;
  height: 58px;
}

#n_3 {
  position: absolute;
  left: 810px;
  top: 258px;
  width: 69px;
  height: 58px;
}

#ladoDirTec {
  position: absolute;
  left: 879px;
  top: 258px;
  width: 37px;
  height: 216px;
}

#n_4 {
  position: absolute;
  left: 669px;
  top: 316px;
  width: 73px;
  height: 60px;
}

#n_5 {
  position: absolute;
  left: 742px;
  top: 316px;
  width: 68px;
  height: 60px;
}

#n_6 {
  position: absolute;
  left: 810px;
  top: 316px;
  width: 69px;
  height: 60px;
}

#n_7 {
  position: absolute;
  left: 669px;
  top: 376px;
  width: 73px;
  height: 58px;
}

#n_8 {
  position: absolute;
  left: 742px;
  top: 376px;
  width: 68px;
  height: 58px;
}

#n_9 {
  position: absolute;
  left: 810px;
  top: 376px;
  width: 69px;
  height: 58px;
}

#n_0 {
  position: absolute;
  left: 742px;
  top: 434px;
  width: 80px;
  height: 51px;
}

#confirma {
  position: absolute;
  left: 822px;
  top: 474px;
  width: 94px;
  height: 70px;
}

#branco {
  position: absolute;
  left: 642px;
  top: 485px;
  width: 90px;
  height: 59px;
}

#corrige {
  position: absolute;
  left: 732px;
  top: 485px;
  width: 90px;
  height: 59px;
}

#ptabaixo7 {
  position: absolute;
  left: 669px;
  top: 434px;
  width: 73px;
  height: 51px;
}

#ptabaixo9 {
  position: absolute;
  left: 822px;
  top: 434px;
  width: 57px;
  height: 40px;
}

#abaixoTec {
  position: absolute;
  left: 642px;
  top: 544px;
  width: 324px;
  height: 40px;
}

#painel {
  display: block;
  position: relative;
  left: -171px;
  top: 64px;
  width: 547px;
  height: 319px;
}

#painel__container {
  padding: 10px;
}

.numInput {
  background: rgba(255, 255, 255, 0);
  width: 25px;
  font-size: 47px;
  height: 40px;
  position: relative;
  bottom: 2px;
}

#voteArea {
  font-weight: 600;
  margin-top: 20px;
}

#applicantRank {
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}

.bold {
  font-weight: 800;
}

#infoVote {
  margin-top: 65px;
  display: block;
}

#photoApplicant {
  border: 1px solid rgb(136, 136, 136);
  position: absolute;
  top: 5px;
  right: 5px;
}
